<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>All Entries</title>
</head>
<body>

<h2 class="text-center w-100 p-3 font-weight-light">Previous diary entries:</h2><br>
<table class="text-left mx-auto w-75 p-3 font-weight-light">
    <thead>
    <tr>
        <th>User</th>
        <th>Topic</th>
        <th>Notice</th>
        <th>Published</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notices : ${allnotice}">
        <td class="text-left" th:text="${notices.noticeAuthor}">Author</td>
        <td class="text-left" th:text="${notices.noticeTopic}">Topic</td>
        <td class="text-left" th:text="${notices.noticeText}">Notice</td>
        <td class="text-left" th:text="${notices.publishedOn}">Published</td>
        <td>

            <a th:href="@{/edit-notice/{id}(id=${notices.id})}">  <button>View and edit</button> </a>
            <button th:onclick="|deleteSpecificEntry('${notices.id}')|">Double click to delete</button>
        </td>
    </tr>


    </td>
    </tr>
    </tbody>
</table><br>

<div class="text-center w-100 p-3 font-weight-light">
    <form th:action="@{/add-notice}">
        <button class="btn btn-outline-dark my-2 my-sm-0 nav-item" type="submit">Add an entry</button>
    </form>
</div>


</body>

<script>
    function deleteSpecificEntry(id){
        document.location.reload(true);

        let url = "/delete/" + id;


        fetch(url, {
            method : "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });

    }</script>

</html>