<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Edit your entry</title>
</head>
<body>

<h2 class="text-center w-100 p-3 font-weight-light">View end edit!</h2>
<div class="w-75 mx-auto p-3">

    <label class="font-weight-light">Title: </label>
    <input class="form-control w-50" id="Title" type="text" th:value="${theNotice.noticeTopic}" />
    <label class="font-weight-light">Text: </label>
    <textarea type="text" class="form-control w-75" rows="7" id="Text" th:inline="text"> [[${theNotice.noticeText}]]</textarea>


    <button th:onclick="|editSpecificEntry('${theNotice.id}')|">Update </button>
    <a href="/"><button class="btn btn-outline-dark my-2 my-sm-0 nav-item">Return</button></a> </br>

    <label class="font-weigt-light">Replies:</label>
<!--  <input class="form-control w-50" id="Reply" type="text" th:value="${theReply.replyAuthor}"/>-->
<!--
    <textarea type="text" class="form-control w-75" rows="7" id="replyText" th:inline="text"> [[${theReply.replyText}]]</textarea>
-->

</div>
<!--<div th:each="reply : ${theReply}">
    <input class="form-control w-50" id="Reply" type="text" th:value="${theReply.replyAuthor}"/>
    <td class="text-left" th:text="${reply.replyText}">Author</td>
&lt;!&ndash;
    <td class="text-left" th:text="${notices.noticeTopic}">Topic</td>
    <td class="text-left" th:text="${notices.noticeText}">Notice</td>
    <td class="text-left" th:text="${notices.publishedOn}">Published</td>
&ndash;&gt;

</div>-->
<label class="form-font-weight-light">User:</label>
<label class="form-font-weight-light">Text:</label>
<label class="form-font-weight-light">Published:</label>
<div class="list-group" th:each="n: ${theNotice.replies}" style="display: flex; flex-direction: row;">

    <input class="form-control" type="text" th:value="${n.replyAuthor}"></br>
    <input class="form-control" type="text" th:value="${n.replyText}"></br>
    <input class="form-control" type="text" th:value="${n.publishedOn}"></br>
</div>
<a th:href="@{/add-reply/{id}(id=${theNotice.id})}"> <button>New reply</button> </a>


</body>
<script>
    function editSpecificEntry(id){


        alert("Notice has been updated!");


        let textarea = document.getElementById('Text').value;
        let title = document.getElementById('Title').value;
        let url = "/edit/" + id;

        let bodyJSON = {
            noticeTopic: title,
            noticeText: textarea,

        };
        fetch(url, {
            method : "PATCH",
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(bodyJSON)
        });
    }


</script>

</html>